* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(0, 0, 0, 0.726);
}

h1 {
  width: 1000px;
  font-size: 100px;
  margin-left: 20%;
  margin-top: 20%;
  /* margin-bottom: 10%; */
  border-radius: 20px;
  background-color: pink;
  border: 2px solid yellow;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
h2 {
  font-size: 80px;
  display: flex;
  justify-content: center;
  margin-top: 5%;
  text-decoration: underline;
  color: white;
}
